.task-list {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  max-width: 672px;
  width: 100%;
  height: 312px;
  border-radius: 10px;
  background: rgba(244, 244, 244, 1);
  padding : 31px 17px 21px 21px;
}
.task-list::-webkit-scrollbar {
  width: 8px; /* Ширина всего элемента навигации */
}
.task-list::-webkit-scrollbar-track {
  background: #f9f9fd; /* Цвет дорожки */
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  border-radius: 10px;
}
.task-list::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* Цвет бегунка */
  border-radius: 10px; /* Округление бегунка */
}
.filter-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 672px;
}
.button-filter {
  height: 40px;
  width: 33.33%;
  border-radius: 10px;
  background: #D3C8FC;
  border: 1px solid gray;
}
.today-button {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background: #D3C8FC;
  border: 1px solid gray;
}
.add-task-button {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background: #D3C8FC;
  border: 1px solid gray;
}
.sidebar-mobile {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.wrapper{
  max-width: 1366px;
  max-height: 1024px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between; 
  padding: 0 7% 0 5%;
}

.title-wrapper {
  color: #404040;
  font-size: 96px;
  font-family: Roboto;
  font-weight: 700;
  /* margin-left: 5%; */
  
  #text {
    color: #9333EA;
  }
}
.wrapper-modal-add-task {
  width: 466px;
  height: 181px;
  border-radius: 10px;
  background: white;
}
.todo-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 672px;
  max-height: 390px;
  flex-direction: column;
  align-items: baseline;
}

.todo-container-header {
  width: 672px;
  height: 47px;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 10px;
  display: flex;
  padding: 16px 20px 16px 20px;
  justify-content: space-between;
  align-items: center; 
} 
.todo-container-content {
  max-width: 672px;
  width: 100%;
  /* height: 343px; */
  padding-top: 31px;
  justify-content: space-between;
  gap: 10px;
}
.filter-task {
  justify-content: center;
  gap: 5px;
}
.task {
  background: rgba(147, 51, 234, 0.06);
  width: 100%;
  height: 33px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin: 0 0 7px 0;
}

.task:hover {
  background: rgba(147, 51, 234, 0.12);
}
.task-content {
  gap:10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
/* 
.task-content {
  width: 290px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  line-height: 18.75px;
  color: rgba(0,0,0,1);
  overflow: hidden;
} */

.task-content-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-content-date-end {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: rgba(107, 114, 128, 1);
  width: 66px;
}

.task-contetnt-parameter-task {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.parameter-task-button {
  width: 15px;
  border: 0;
  cursor: pointer;
  background: inherit;
}
.crossText {
  text-decoration: line-through;
  font-style: italic;
  color: #9333EA;
}

.listItem {
  color: black;
}
