.task-list {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  max-width: 672px;
  width: 100%;
  /* height: 312px; */
  border-radius: 10px;
  background: rgba(244, 244, 244, 1);
  padding: 31px 17px 21px 21px;
}
.task-list::-webkit-scrollbar {
  width: 8px; /* Ширина всего элемента навигации */
}
.task-list::-webkit-scrollbar-track {
  background: #f9f9fd; /* Цвет дорожки */
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  border-radius: 10px;
}
.task-list::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* Цвет бегунка */
  border-radius: 10px; /* Округление бегунка */
}
.filter-task {
  flex-direction: row;
  align-items: center;
  max-width: 672px;
}
.button-filter {
  height: 40px;
  width: 33.33%;
  border-radius: 10px;
  border: 1px solid gray;
}
.button-filter:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.button-filter:active {
  transform: scale(0.95);
}
.button-filter:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.today-button {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
}
.today-button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.today-button:active {
  transform: scale(0.95);
}
.today-button:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.sidebar-mobile {
  flex-direction: column;
  gap: 10px;
}
.wrapper {
  max-width: 1366px;
  max-height: 1024px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 7% 0 5%;
}
.title-wrapper {
  color: #404040;
  font-size: 96px;
  font-family: Roboto;
  font-weight: 700;

  #text {
    color: #9333ea;
  }
}
.todo-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 672px;
  max-height: 390px;
  flex-direction: column;
  align-items: baseline;
}
.todo-header {
  width: 100%;
  max-width: 672px;
  height: 47px;
  background: rgba(244, 244, 244, 1);
  border-radius: 10px;
  padding: 16px 20px 16px 20px;
  justify-content: space-between;
  align-items: center;
}
.todo-content {
  max-width: 672px;
  width: 100%;
  /* height: 343px; */
  padding-top: 31px;
  justify-content: space-between;
  gap: 10px;
}
.filter-task {
  justify-content: center;
  gap: 5px;
}
.task {
  background: rgba(147, 51, 234, 0.06);
  width: 100%;
  height: 33px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin: 0 0 7px 0;
}
.time-end {
  /* width: 220px; */
  background: #f3f3f3;
  border-radius: 10px;
}
.time-end:focus {
  border: 1px solid gray;
}
.task:hover {
  background: rgba(147, 51, 234, 0.12);
}
.task-content {
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.task-content-title {
  gap: 10px;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 74%;
}
.crossText {
  text-decoration: line-through;
  font-style: italic;
  color: #9333ea;
}
.listItem {
  color: black;
}
.modal-body {
  gap: 10px;
  padding: 0;
}
