.crossText {
  text-decoration: line-through;
  font-style: italic;
  color: #9333ea;
}

.listItem {
  color: black;
}

.task-list {
  overflow-y: scroll;
}

.task-list::-webkit-scrollbar {
  width: 8px; /* Ширина всего элемента навигации */
}

.task-list::-webkit-scrollbar-track {
  background: #f9f9fd; /* Цвет дорожки */
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* Цвет бегунка */
  border-radius: 10px; /* Округление бегунка */
}
